<footer class="page-footer font-small bg-secondary pt-4"> <!--font-small deixa a fonte menor-->

<div class="container">

  <div row>
    <div class="col-md-12 d-flex justify-content-center">
      <h4 class="text-light">Siga-nos nas redes sociais</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d flex justify-content-center">

      <ul class="social-network">
        <li>
          <a href="https://github.com/pdrlcx" target="_blank" class="icoGitHub"></a> <!--FALTA TERMINAR ISSOOOOOOOOO-->
        </li>
      </ul>

    </div>
  </div>
</div>
</footer>
