<div class="conteiner-fluid">
  <div class="row">
    <div class="col-md-6" id="img-bg"></div>
    <div class="col-md-6 md-5 md-5">
      <div class="row d-flex mb-5 mt-5 ml-5 mr-5 justify-content-center">

        <div class="col md-10">
          <h1 class="text-center">Cadastro</h1>

          <div class="form-group">
            <label for="Nome"></label>
            <input [(ngModel)]="usuario.nomeUsuario" class="form-control" type="text" name="nome" id="nome"
            placeholder="Seu nome">
          </div>

          <div class="form-group">
            <label for="Usuário"></label>
            <input [(ngModel)]="usuario.emailUsuario" class="form-control" type="text" name="usuario" id="usuario"
            placeholder="Seu usuário">
          </div>

          <div class="form-group">
            <label for="Link da foto"></label>
            <input [(ngModel)]="usuario.fotoUsuario" class="form-control" type="text" name="foto" id="foto"
            placeholder="Link da sua foto">
          </div>

          <div class="form-group">
            <label for="Senha"></label>
            <input (input)="confirmSenha($event)" class="form-control" type="password" id="senha"
            placeholder="Sua senha">
          </div>

          <div class="form-group">
            <label for="Confirmar senha"></label>
            <input [(ngModel)]="usuario.senhaUsuario" class="form-control" type="password" name="Confirmar senha" id="Confirmar senha"
            placeholder="Confirmar senha">
          </div>

          <div class="form-group">
            <label for="Tipo de usuário"></label>
            <select class="form-control" name="tipo" id="tipo" (change)="tipoUser($event)">
              <option>Selecione um tipo de usuário</option>
              <option value="normal">Normal</option>
              <option value="adm">Administrador</option>
            </select>
          </div>

          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-danger mr-4" routerLink="/entrar">Cancelar</button> <!--routerLink redireciona para a tela entrar-->
            <button type="submit" class="btn btn-success"(click)='cadastrar()'>Cadastrar</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
