#img-bg {
  background-image: url(https://i.ibb.co/my4TLzp/1-HLOcv4z-VYUsz-BCa-LQVTTJQ.jpg); /*imagem salva no imgBB*/
  min-height: 100vh; /*minimo de altura...tamanho da imagem*/
  background-position: center; /*centraliza*/
  background-repeat: no-repeat; /*não repete a imagem*/
  background-size: cover; /*preenche todo espaço que ele tem*/
}
